# Arquivos compilados do Java
*.class

# Pastas de build
bin/
out/
build/
target/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.metadata/
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
.gradle/

# Maven
.mvn/wrapper/maven-wrapper.jar
